.cartpage-items { 
    margin: 0; 
    padding: 0;
}

.cartpage-items li {
    list-style-type: none;
}

.cartItem-count { 
    padding: 5px 10px; 
    border: 1px solid #ccc;
}

.cartItem-addOne,
.cartItem-removeOne {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff; 
}

.cartItem-addOne { 
    border-left: none;
}

.cartItem-removeOne {
    border-right: none; 
}